#heroSection {
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px; 
}

#heroTitle {
    color: #212121;
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 15px;
}

#subTitle {
    color: #212121;
}

#searchRow {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
}

.searchCapsule {
    color: #212121;
    cursor: text;
    display: inline-flex;
    position: relative;
    font-size: 1.2rem;
    box-sizing: border-box;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    line-height: 1.1876em;
    letter-spacing: -0.015rem;
    border: 1px solid #B0BEC5;
    margin: 0;
    padding: 0px 14px !important;
    border-radius: 50px;
}

#searchWrapper {
    width: 40%;
}

#searchInput, #sortSelect {
    font: inherit;
    color: currentColor;
    width: 100%;
    border: 0 transparent;
    height: 1.1876em;
    margin: 0;
    display: block;
    padding: 6px 0 6px;
    min-width: 0;
    background: none;
    box-sizing: content-box;
    animation-name: mui-auto-fill-cancel;
    letter-spacing: inherit;
    animation-duration: 10ms;
    -webkit-tap-highlight-color: transparent;
    outline-style: none !important;
    outline: solid 0 !important;
}

#searchInput:focus, #sortSelect:focus{
    outline: none;
    outline-style: none
}

option[disabled] {
    display: none;
}

#sortWrapper, #filterToggle {
    width: 15%;
    cursor: pointer;
}

#userInput {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 50px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #FFF3F2;
}

#filterSection {
    color: #212121;
    font-weight: 600;
}

.formGroup {
    margin-bottom: 15px;
}

.formRow {
    margin-top: 5px;
}

.numInput {
    max-width: 50px;
}

#temperSection {
    width: 50%;
}

#temperMessage {
    color: #212121;
    font-weight: 600;
}

#temperWrapper {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 3px;
    row-gap: 3px;
}

.temperButton {
    padding: 6px 10px;
    color: #FF452B;
    border: solid 1px #FF452B;
    background-color: #ffffff;
    border-radius: 15px;
    cursor: pointer;
    font-size: .7em;
    font-weight: 600;
}

.temperButtonClicked {
    padding: 6px 10px;
    color: #ffffff;
    border: solid 1px #FF452B;
    background-color: #FF452B;
    border-radius: 15px;
    cursor: pointer;
    font-size: .7em;
    font-weight: 600;
}

.temperButton:hover {
    background-color: #eeeeee;
}

#results {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.loaderWrapper {
    height: 200px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    border: 10px solid #FFF3F2;
    border-top: 10px solid #FF452B;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (max-width: 576px) { 

    #heroTitle {
        font-size: 1.8em;
    }

    #searchWrapper {
        width: 80%;
    }

    #sortWrapper, #filterToggle {
        width: 40%;
    }
    
    #temperSection, #filterSection {
        width: 90%;
        margin-bottom: 20px;
    }

    #subTitle {
        width: 60%;
        text-align: center;
    }
}