.gridContainer {
    padding: 0px 100px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 2%;
    row-gap: 15px;
}

@media (max-width: 576px) { 
    .gridContainer {
        width: 90%
    }
}